.container {
  padding: 80px 300px;
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.title {
  font-weight: 800;
  font-size: 28px;
  text-transform: uppercase;
  color: #222;
  border-bottom: 5px solid #4f8ff0;
  padding-bottom: 10px;
  margin: 0 auto;
  width: 360px;
}

.text {
  width: 920px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  margin: 0 auto;
}

.materials {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.useful {
  width: 424px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition:
    border 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  box-shadow: 7px 1px 21px -4px rgba(34, 60, 80, 0.2);
}

.useful:hover {
  cursor: pointer;
  border: 3px solid #4f8ff0;
  box-shadow: 14px 23px 21px 2px rgba(34, 60, 80, 0.2);
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
  padding: 5px;
}

.miniTitle {
  font-weight: 700;
  font-size: 16px;
}

.date {
  font-weight: 300;
  font-size: 12px;
}

.miniText {
  font-weight: 400;
  font-size: 14px;
}
