.container {
  padding: 80px 300px;
  display: flex;
  font-family: var(--font);
  gap: 64px;
}

.title {
  font-weight: 800;
  font-size: 28px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.blue {
  color: #4f8ff0;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 720px;
}

.text {
  font-weight: 400;
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

@media (max-width: 1024px) and (min-width: 375px) {
  .container {
    padding: 2.5vw 10vw;
    gap: 2vw;
  }

  .title {
    font-size: 1.8em;
    padding-bottom: 2vh;
  }

  .texts {
    width: auto;
  }

  .IMG {
    width: 70vh;
  }

  .text {
    font-size: 0.7em;
  }
}
