.container {
  padding: 80px 300px;
  display: flex;
  font-family: var(--font);
}

.title {
  font-weight: 800;
  font-size: 28px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.blue {
  color: #4f8ff0;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 720px;
}

.text {
  font-weight: 400;
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}
