.noBack {
  padding: 0;
  background-color: transparent;
  color: white;
  border: none;
  font-family: var(--font);
  font-weight: 700;
  font-size: 14px;
  border-bottom: 1px solid transparent;
  transition:
    border 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.noBack:hover {
  color: #4f8ff0;
  border-bottom: 1px solid #4f8ff0;
  cursor: pointer;
}

.blue {
  text-transform: uppercase;
  background-color: #4f8ff0;
  color: white;
  padding: 16px 24px;
  font-family: var(--font);
  font-weight: 900;
  font-size: 14px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.blue:hover {
  background-color: white;
  color: #4f8ff0;
  border: 3px solid #4f8ff0;
  cursor: pointer;
}

.gray {
  background-color: #e6e6e6;
  text-transform: uppercase;
  color: black;
  padding: 16px 24px;
  font-family: var(--font);
  font-weight: 900;
  font-size: 14px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition:
    background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.gray:hover {
  border: 3px solid #e6e6e6;
  background-color: white;
  cursor: pointer;
}
