.background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 1920px;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  width: 500px;
  margin: 0 auto;
  padding: 50px 30px;
  border: 5px solid #4f8ff0;
}

.container {
  font-family: var(--font);
  padding: 80px 300px;
  text-align: center;
}

.input {
  width: 250px;
  font-size: 15px;
  border: 2px solid #4f8ff0;
}

.label {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.title {
  padding-bottom: 10px;
  border-bottom: 3px solid #4f8ff0;

  margin: 10px auto;
}

.button {
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #4f8ff0;
  color: white;
  padding: 16px 24px;
  font-family: var(--font);
  font-weight: 900;
  font-size: 14px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.button:hover {
  background-color: white;
  color: #4f8ff0;
  border: 3px solid #4f8ff0;
  cursor: pointer;
}

.message {
  font-size: 20px;
  font-weight: 900;
}

.error {
  font-size: 15px;
  color: red;
}

.err {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
