.container {
  font-family: var(--font);
  padding: 80px 300px;
}

.title {
  font-weight: 800;
  font-size: 28px;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 5px solid #4f8ff0;
  padding-bottom: 10px;
}

.reviews {
  display: flex;
  gap: 24px;
  margin: 20px 0 20px 0;
  flex-wrap: wrap;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 2px 2px 10px 0 rgba(33, 33, 33, 0.15);
  padding: 32px;
  width: 648px;
  box-sizing: border-box;
}

.nameText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.company {
  font-weight: 300;
  font-size: 14px;
}

.titleName {
  font-weight: 700;
  font-size: 20px;
}

.text {
  font-weight: 400;
  font-size: 14px;
}

.buttons {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.none {
  display: none;
}

.show {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
