:root {
  --font: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 1920px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
