.links {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}

.link {
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  font-family: var(--font);
  border-bottom: 1px solid transparent;
  transition:
    color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.link:hover {
  color: #4f8ff0;
  border-bottom: 1px solid #4f8ff0;
}

.menu {
  display: none;
}

@media (max-width: 1024px) and (min-width: 375px) {
  .links {
    gap: 1.5vw;
  }

  .link {
    font-size: 0.8em;
  }

  .menu {
    display: none;
  }
}

@media (max-width: 375px) {
  .menu {
    display: flex;
  }

  .mobNav {
    display: flex;
    gap: 2vw;
    flex-direction: column;
  }

  .line {
    border-bottom: 2px solid white;
    width: 10vw;
  }

  .links {
    display: none;
  }

  .mobContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
  }
}
