.container {
  display: flex;
  flex-direction: column;
  background: rgba(1, 1, 1, 0.76);
}

.mini {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 300px;
}

.title {
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px 0;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border 0.3s ease-in-out;
}

.title:hover {
  border: 1px solid #4f8ff0;
}

.head {
  font-weight: 900;
  font-size: 28px;
  text-transform: uppercase;
  color: #4f8ff0;
}

.text {
  font-weight: 900;
  font-size: 20px;
  color: white;
}
