.container {
  padding: 80px 300px;
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.background {
  background-color: #f7f7f7;
}

.title {
  font-weight: 800;
  font-size: 28px;
  text-transform: uppercase;
  color: #222;
  border-bottom: 5px solid #4f8ff0;
  padding-bottom: 10px;
  width: 240px;
  margin: 0 auto;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #222;
  width: 920px;
  margin: 0 auto;
}

.head {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}
.lawyers {
  display: flex;
  gap: 24px;
}
